@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");
@import url('<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Tourney:wght@500&display=swap" rel="stylesheet">');
/* line 1, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
::-webkit-scrollbar{
  display: none;
}

/* line 10, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
body {
  background-color: #eff2e4;
  font-family: "Orbitron", sans-serif;
}

@media all and (min-width: 375px) {
  /* line 16, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
  .bannerInicio {
    background-image: url("../mobile/setup2_mobile.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
  }
  /* line 23, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
  .banner {
    background-image: url("../mobile/setup2_mobile.jpg");
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    height: 25vh;
  }
}

/* <--BANNER--> */
/* line 33, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.bannerInicio {
  background-image: url("../media/setup2.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 70vh;
}

/* line 39, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.bannerInicio .boton {
  color: white;
  text-align: center;
  background-color: #343a40;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
}

/* line 49, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.banner {
  background-image: url("../media/setup2.jpg");
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  height: 25vh;
}

/* <--INICIO--> */
/* line 59, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.titulo .miPrimerEstilo {
  color: white;
  text-align: center;
  background-color: #343a40;
  font-family: "Orbitron", sans-serif;
}

/* line 67, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.inicio .setup {
  width: 100%;
  height: 100%;
}

/* line 71, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.inicio .contSetup {
  display: flex;
  justify-content: end;
}

/* <--YOUTUBE--> */
/* line 79, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.youtube {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  padding-bottom: 3px;
  height: 500px;
}

/* line 85, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.youtube .youtubeVideo {
  width: 90%;
  height: 100%;
}

/* <--AURICULARES/TECLADOS--> */
/* line 92, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.card {
  background-color: #eff2e4;
}

/* line 94, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.card .boton {
  background-color: #343a40;
}

/* line 96, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.card .boton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 101, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.card .boton:active {
  transform: translateY(3px);
}

/* line 104, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.card .botonfocus {
  height: 60px;
}

/* <--COMPRA--> */
/* line 112, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.compra img {
  height: 200px;
  width: 100%;
}

/* <--CONTACTO--> */
@media all and (min-width: 375px) {
  width: 250px;
  padding: 10px;
}

/* line 126, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.formulario {
  background-color: #24303c;
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-family: "Orbitron", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

/* line 137, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.formulario h1 {
  margin-top: 8px;
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

/* line 143, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.formulario .formi {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: "Orbitron", sans-serif;
  color: white;
}

/* line 153, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.formulario .boton {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to left top, #005aa7, #fffde4);
  font-family: "Orbitron", sans-serif;
}

/* line 163, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.formulario .boton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 168, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.formulario .boton:active {
  transform: translateY(3px);
}

/* line 171, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.formulario .botonfocus {
  height: 60px;
}

/* <--ABOUT US--> */
/* line 178, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.aboutUs {
  margin-top: 10%;
  text-align: center;
}

/* line 181, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.aboutUs .equipo {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
}

/* line 186, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.aboutUs .equipo .miembro {
  color: white;
  margin: 5px;
  margin-bottom: 50px;
  width: 500px;
  padding: 20px;
  position: relative;
  background-color: #24303c;
}

/* line 194, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.aboutUs .equipo .miembro .cargo {
  margin: 12px 0px;
}

/* line 198, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.aboutUs .equipo .miembroImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}

/* line 208, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.aboutUs .equipo .miembroImg img {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
}

/* <--FOOTER--> */
/* line 219, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  margin-right: 20px;
  cursor: pointer;
}

/* line 228, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer {
  padding: 4px 0;
  background-color: #343a40;
  color: white;
}

/* line 232, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

/* line 239, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

/* line 243, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer ul ahover {
  opacity: 1;
}

/* line 248, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer li {
  padding: 0 10px;
}

/* line 251, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer .social {
  text-align: center;
  padding: 55px;
}

/* line 254, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer .social a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

/* line 266, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer .social ahover {
  color: white;
}

/* line 271, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer .copyright {
  margin-top: 55px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* line 277, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_main.scss */
.footer .copyright .aboutFooter {
  text-decoration: none;
  color: inherit;
}

/* line 2, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_mixins.scss */
.fontSize-xs {
  font-size: 18px;
}

/* line 2, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_mixins.scss */
.fontSize-sm {
  font-size: 20px;
}

/* line 2, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_mixins.scss */
.fontSize-md {
  font-size: 24px;
}

/* line 2, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_mixins.scss */
.fontSize-lg {
  font-size: 35px;
}

/* line 2, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_mixins.scss */
.fontSize-xlg {
  font-size: 45px;
}

/* line 7, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_mixins.scss */
.fontType-regular {
  font-family: "Monda", sans-serif;
  font-weight: 400;
}

/* line 7, ../../../../../../../../../../../../../Users/Samba/Documents/TOTO/final/sass/_mixins.scss */
.fontType-bold {
  font-family: "Monda", sans-serif;
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */