*{
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar{
	display:none;
}

body{
	background-color: $primario;
	font-family: $fontTitle;
}

@media all and (min-width: 375px){
 	.bannerInicio{
	background-image: url("../mobile/setup2_mobile.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100vh;
}
.banner{
	background-image: url("../mobile/setup2_mobile.jpg");
	background-size: auto;
	background-position: center;
	background-attachment: fixed;
	height: 25vh;
	}
 }

/* <--BANNER--> */
.bannerInicio{
	background-image: url("../media/setup2.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 70vh;
		.boton{
		color: $colorBlanco;
		text-align:center;
		background-color: $tercero;
		font-family: $fontTitle;
		justify-content: center;
		

	}
}
.banner{
	background-image: url("../media/setup2.jpg");
	background-size: auto;
	background-position: center;
	background-attachment: fixed;
	height: 25vh;
}
 
/* <--INICIO--> */
.titulo{
	.miPrimerEstilo{
		color: $colorBlanco;
		text-align:center;
		background-color: $tercero;
		font-family: $fontTitle;
	}
}
.inicio{
		.setup{
		width: 100%;
		height: 100%;
	}
	.contSetup{
		display: flex;
		justify-content:end;
	}

}

/* <--YOUTUBE--> */
.youtube{
	display: flex;
	justify-content: center;
	margin-bottom: 3px;
	padding-bottom: 3px;
	height: 500px;
	.youtubeVideo{
		width: 90%;
		height: 100%;
	}
}

/* <--AURICULARES/TECLADOS--> */
.card{
	background-color:$primario;
		.boton{
			background-color:$tercero;
		    &:hover{
		    	cursor:pointer;
	    		transform: translateY(-3px);
	    		transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
		    }
		    &:active{
		    	transform:translateY(3px);
		    }
		    &focus{
		    	height: 60px;
	    }
	}
}

/* <--COMPRA--> */
.compra{
	img{
		height: 200px;
		width: 100%;
	}
}



/* <--CONTACTO--> */

@media all and (min-width: 375px){
	width: 250px;
    padding: 10px;
}
.formulario{
    background-color: $secundario;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-family:$fontTitle;
    color: $colorBlanco;
    box-shadow: 7px 13px 37px #000;
    h1{
	    margin-top: 8px;
	    margin-bottom: 10px;
	    font-family:$fontTitle;
	    text-align: center;
    }
    .formi{
	    width: 100%;
	    background-color: $secundario;
	    padding: 10px;
	    border-radius: 4px;
	    margin-bottom: 20px;
	    border: 1px solid #1f53c5;
	    font-family:$fontTitle;
	    color: $colorBlanco;
	}
	.boton{
	    width: 100%;
	    height: 45px;
	    margin-top: 15px;
	    border-radius: 4px;
	    border:none;
	    color: $colorBlanco;
	    text-transform: uppercase;
	    background: linear-gradient(to left top, #005aa7,#fffde4);
	    font-family:$fontTitle;
	    &:hover{
	    	cursor:pointer;
    		transform: translateY(-3px);
    		transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
	    }
	    &:active{
	    	transform:translateY(3px);
	    }
	    &focus{
	    	height: 60px;
	    }
	}
}

/* <--ABOUT US--> */
.aboutUs{
	margin-top: 10%;
	text-align: center;
	.equipo{
		display: flex;
		text-align: center;
		width: auto;
		justify-content:center;
		.miembro{
			color: $colorBlanco;
			margin: 5px;
			margin-bottom: 50px;
			width: 500px;
			padding: 20px;
			position: relative;
			background-color: $secundario;			
			.cargo{
				margin: 12px 0px;
			}
		}
		.miembroImg{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			position: absolute;
			top: -85px;
			left: 50%;
			transform: translateX(-50%);
			background: #fff;

			img{
				width: 100px;
				height: 100px;
				padding: 10px;
				border-radius: 50%;
			}
		}
	}
}

/* <--FOOTER--> */
.whatsapp{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	margin-right: 20px;
	cursor: pointer;
}

.footer{
  padding:4px 0;
  background-color:$tercero;
  color:$colorBlanco;
		ul {
	  	padding:0;
	  	list-style:none;
	  	text-align:center;
	  	font-size:18px;
	  	line-height:1.6;
	  	margin-bottom:0;
	  		a {
  			color:inherit;
  			text-decoration:none;
  			opacity:0.8;
  			&hover{
  				opacity:1;
  			}
		}
	}
		li {
  		padding:0 10px;
	}
	.social {
	  text-align:center;
	  padding:55px;
			  a {
			  font-size:24px;
			  width:40px;
			  height:40px;
			  line-height:40px;
			  display:inline-block;
			  text-align:center;
			  border-radius:50%;
			  border:1px solid #ccc;
			  margin:0 8px;
			  color:inherit;
			  opacity:0.75;
			  &hover{
			  	color:$colorBlanco;
			}
		}
	}
	.copyright {
	  margin-top:55px;
	  text-align:center;
	  font-size:13px;
	  color:#aaa;
	  margin-bottom:0;
	  .aboutFooter{
	  	text-decoration: none;
	  	color:inherit;
	  }
	}
}
