$primario: #eff2e4;
$secundario:#24303c;
$colorBlanco: white;
$colorNegro: black;

$fontFamily:'Monda', sans-serif;
$weight:(
	"regular": 400, 
	"bold": 700);
$sizes:(
	"xs": 18px,
	"sm": 20px,
	"md": 24px, 
	"lg": 35px,
	"xlg": 45px
);
